<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Game Of Estimates - Planning Poker</title>

    <!-- favicon -->
    <!--        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=00aJ2wj5ym">-->
    <!--        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=00aJ2wj5ym">-->

    <link rel="icon" type="image/svg+xml" href="{{ asset 'favicon.svg' }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset 'apple-touch-icon.png' }}">
    <link rel="manifest" href="{{ asset 'site.webmanifest' }}">
    <link rel="mask-icon" href="{{ asset 'safari-pinned-tab.svg' }}" color="#ed8b00">
    <link rel="shortcut icon" href="{{ asset 'favicon.ico' }}">
    <meta name="apple-mobile-web-app-title" content="Game of Estimates">
    <meta name="application-name" content="Game of Estimates">
    <meta name="msapplication-TileColor" content="#ed8b00">

    <meta name="theme-color" content="#ed8b00">
    <meta name="description" content="Planning Poker / Scrum poker game for story planning">
    <meta name="keywords" content="Planning Poker, Scrum Poker, Scrum, Planning, Agile">
    <meta name="author" content="Richard Liebscher">

    <link rel="stylesheet" href="{{ asset 'assets/style.css' }}">
</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">Game Of Estimates</a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">Lobby</a>
        </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                Anonymous
            </a>

            <div class="navbar-dropdown">
                <a class="navbar-item">
                    Change Name
                </a>
                <a class="navbar-item">
                    Visitor
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                    Report an issue
                </a>
            </div>
        </div>

        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-primary">
                    Create room
                </a>
            </div>
        </div>
    </div>
</nav>

<section class="hero head">
    <div class="hero-body">
        <div class="container">
            <h1 class="title"><a href="/">Game Of Estimates</a></h1>
            <h2 class="subtitle">Planning Poker</h2>
        </div>
    </div>
</section>

{{> @partial-block }}

<footer class="footer">
    <div class="content has-text-centered">
        <p>{{{text 'byAuthor'}}}</p>
        <p>{{{text 'license'}}}</p>
        <div>
            <a href="/" class="footer-icon">
                <img src="{{ asset 'github.svg' }}" alt="GitHub"/>
            </a>
        </div>
    </div>
</footer>

</body>
</html>